.about-page
  %h1 Sketch it!について
  %section
    Sketch it! は、気軽なお絵かきを通じて、人々の繋がりを生み出す「イラストコミュニケーションサイト」です。
  %section
    .special-thanks
      Special Thanks To...
      %ul
        %li for sample posts
        (copyrights notice)
        %ul
          %li
            %a(href="https://kotkotri.tumblr.com/") kotkotri
          %li
            %a(href="http://otoufu.xrea.jp/") saiguchi otoufu
          %li
            tomokusa (in
            %a(href="http://www.kaki-kaki.com/bbs_t/thread.html?15208") kakikaki
            )
          %li
            ningen hodai (in
            %a(href="http://www.kaki-kaki.com/bbs_t/thread.html?15208") kakikaki
            )
          %li
            hinoto@ (in
            %a(href="http://www.kaki-kaki.com/bbs_t/thread.html?15208") kakikaki
            )
          %li
            fua (in
            %a(href="http://kaki-kaki.daa.jp/bbs_s/index.html") kakikaki
            )
        %li for this chance
        %ul
          %li
            %a(href="https://cookpad.com/")
              cookpad inc.
        %li for the first idea
        %ul
          %li
            %a(href="https://github.com/d-yuji")
              d-yuji
        %li ... and you!
