%div{class:"sidebar"}
  = @user.email
%div
  - @articles.each do |article|
    %div{class:"article"}
      %div{class:"article-header"}
      %div{class:"article-drawing"}
        = image_tag article.drawing.url
      %div{class:"article-content"}
        = article.content
      %div{class:"article-meta"}
        = article.created_at.in_time_zone('Tokyo')
        %div{class:"buttons"}
          btn
