%h1 Users#show
your email
= @user.email
= link_to "write article", articles_new_path
%ul
  - @articles.each do |article|
    %li
      = article.content
      = image_tag article.drawing.url if article.drawing?
