@import "bootstrap-sprockets";
@import "bootstrap";

body {
    width: 100%;
    height: auto;
    padding-top: 80px;
    background: #36465d;
    font-family: "Helvetica Neue", "arial", "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
}

/*
 * ヘッダ
 */
header#header-area {
    background-color: #36465d;
    border-color: #b92727;
    border-style: dashed;
}
/*
#logo {
    float: left;
    margin-right: 10px;
    font-size: 1.7em;
    color: #ed4f4f;
    letter-spacing: -1px;
    padding-top: 9px;
    font-weight: bold;
}
#logo:hover {
    color: #fff;
    text-decoration: none;
}
*/
#logo_mini_image {
    margin-left: -40px;
    margin-top: 5px;
    margin-bottom: 5px;
    width: auto;
    max-height: 50px; 
}

/*
 * ホーム画面
 */
#logo_image {
    max-width: 300px;
    height: auto;
}
.pattern {
    width: 100%;
    height: 100%;
    background: image-url('yokojima.png');
    position: fixed;
    top: 0;
    left: 0;
    z-index: -2;
}
video#bgvid {
    position: fixed; right: 0; bottom: 0;
    min-width: 100%; min-height: 100%;
    width: auto; height: auto; z-index: -100;
    background-size: cover;
}

// サインアップフォーム
.signup-form {
    color: black;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: rgba(54, 70, 95, 1);
    width: 363px;
    padding: 50px 0;
    border-radius: 10px;
    font-size: 16px;
    z-index: 3;
}
.signup-form__logo-box {
    margin-bottom: 40px;
}
.signup-form__logo {
    color: red;
}
.signup-form__catchphrase {
    color: white;
    margin-bottom: 60px;
}
.signup-form__submit {
    display: block;
    margin: 0 auto;
    margin-bottom: 15px;
    width: 300px;
    height: 40px;
    line-height: 40px;
    background-color: #25c6ff;
    color: #FFF;
    font-weight: bold;
    outline: none;
}
.signup-form__submit--login {
    background-color: #6d7084;
    display: block;
    margin: 0 auto;
    margin-bottom: 8px;
    width: 300px;
    height: 40px;
    line-height: 40px;
    color: #FFF;
    font-weight: bold;
    outline: none;
}

// フッタ
footer {
  padding: 5px;
  border: 1px;
  color: white;
  background-color: #36465d;
  border-color: #b92727;
  border-style: dashed none none none;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 30px;
  
}
footer a {
  color: #9d9d9d;
}
footer a:hover {
  color: white;
}
footer small {
  float: left;
}
footer ul {
  float: right;
  list-style: none;
}
footer ul li {
  float: right;
  margin-left: 15px;
}

/*
 * フィードページ
 */
// 2カラム
.content {
    margin: auto;
    width: 850px;
    .left_column {
	width: 500px;
	margin-right: 30px;
	float: left;
    }
    .right_column {
	width: 300px;
	margin: 10px;
	padding: 0 10px 10px 10px;
	float: right;
    }
}

// 左カラム
// 投稿記事
$article-width: 500px;
.article {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    text-align: left;
    background-color: white;
    width: $article-width;
    padding: 0;
    border-radius: 4px;
    font-size: 16px;
    color: black;
}
.article-drawing {
    & img {
	max-width: $article-width;
	height: auto;
    }
}
.article-header {
    padding: 15px;
}
.article-content {
    padding: 15px;
}
.article-meta {
    padding: 15px;
    color: #8f8f8f;

    & .buttons {
	float: right;
    }
}

// 右カラム
// 最近登録したユーザ
.user_list {
    width: 250px;
    .user_list-title {
	height: 25px;
	border-bottom: 2px solid hsla(0,0%,100%,.13);
	margin-bottom: 10px;
	color: hsla(0,0%,100%,.25);
    }
    .user_list-item {
	height: 30px;
	padding-left: 10px;
	vertical-align: middle;
    }
}

/*
 * 投稿ページ
 */
.post-form {
    margin: 0 auto;
    width: $article-width;
}
.post-form__title {
    margin-bottom: 20px;
    padding: 5px;
    color: white;
    text-align: center;
    font-size: 30px;
}
.post-form__body {
    margin-bottom: 20px;
    border-radius: 4px;
    background-color: white;
}	
.post-form__body-header {
    padding: 15px;
}
.post-form__body-preview {
    padding: 15px;
    background-color: #8091aa;
}
.post-form__body-preview-title {
    margin-bottom: 30px;
    text-align: center;
    color: white;
    a {
	text-decolation: underline;
    }
    a:hover {
	text-decolation: none;
    }
}
.post-form__body-content {
    padding: 15px;
}
#article_content {
    width: 100%;
}
.post-form__body-action {
    text-align: center;
    #submit_button {
	margin: 5px;
    }
}


/*
 * 個人ページ
 */
.user_articles {
    margin: auto;
    width: 850px;
    .user_info {
	width: 250px;
	height: 150px;
	padding: 10px;
	margin: 10px;
	margin-right: 30px;
	float: left;
	position: fixed;
	background-color: white;
	border-radius: 4px;
    }
    .articles {
	width: $article-width;
	margin: 10px;
	padding: 0 10px 10px 10px;
	float: right;
    }
}