%footer(class="footer")
  %small
    Sketch it! by
    %a(href="http://github.com/mofumofuchan/cookpad_challenge") mofumofuchan
  %nav
    %ul
      %li= link_to "Sketch it!について", static_pages_help_path
